# Development dependencies
pytest>=7.0             # Pin to major version 7
flake8>=4.0,<7.0        # Pin, as flake8 can have breaking config changes
requests>=2.28,<3.0     # Pin requests to major version 2
black>=24.3.0           # Pin to major version 22
mypy>=0.950,<1.0        # Pin to major version 0.950

# Core dependencies
rhinoinside>=0.6.0
rhino3dm>=8.9.0