fastapi>=0.115.11                   # The main framework
uvicorn[standard]>=0.34.0           # ASGI server
pydantic>=2.10.6                    # For data validation
python-multipart>=0.0.20            # For file uploads
python-jose[cryptography]>=3.4.0    # For JWT
passlib[bcrypt]>=1.7.4              # For password hashing
pytest>=8.3.5                       # For testing
httpx>=0.28.1                       # For API testing
supabase>=2.13.0                    # For Supabase integration
python-dotenv>=1.0.1                # For environment variables